USE [master]
GO
/****** Object:  Database [PingPong(userpass)]    Script Date: 16/06/2021 10:27:36 ******/
CREATE DATABASE [PingPong(userpass)]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PingPong(userpass)', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PingPong(userpass).mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PingPong(userpass)_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PingPong(userpass)_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PingPong(userpass)].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PingPong(userpass)]
GO
/****** Object:  Table [dbo].[choivoimay]    Script Date: 16/06/2021 10:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[choivoimay](
	[taikhoan] [varchar](50) NULL,
	[thoigian] [varchar](50) NULL,
	[point] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userpass]    Script Date: 16/06/2021 10:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userpass](
	[taikhoan] [varchar](50) NULL,
	[matkhau] [varchar](50) NULL,
	[thoigian] [varchar](50) NULL,
	[ten] [varchar](50) NULL,
	[highscore] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[choivoimay] ([taikhoan], [thoigian], [point]) VALUES (N'hung234', N'13/06/2021 15:55:10', N'0')
INSERT [dbo].[choivoimay] ([taikhoan], [thoigian], [point]) VALUES (N'hung123', N'13/06/2021 15:23:07', N'0')
INSERT [dbo].[choivoimay] ([taikhoan], [thoigian], [point]) VALUES (N'hung123', N'13/06/2021 15:23:12', N'0')
GO
INSERT [dbo].[userpass] ([taikhoan], [matkhau], [thoigian], [ten], [highscore]) VALUES (N'hung123', N'hung', N'12/06/2021 23:45:27', N'haminhhung1', N'1')
INSERT [dbo].[userpass] ([taikhoan], [matkhau], [thoigian], [ten], [highscore]) VALUES (N'hung234', N'hung', N'13/06/2021 14:09:18', N'haminhhung2', N'0')
GO
ALTER TABLE [dbo].[userpass] ADD  CONSTRAINT [DF_userpass_highscore]  DEFAULT ((0)) FOR [highscore]
GO
USE [master]
GO
