USE [master]
GO
/****** Object:  Database [PingPong]    Script Date: 13/05/2021 22:25:30 ******/
CREATE DATABASE [PingPong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PingPong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PingPong.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PingPong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PingPong_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PingPong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PingPong]
GO
/****** Object:  Table [dbo].[choivoimay]    Script Date: 13/05/2021 22:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[choivoimay](
	[MAC] [varchar](50) NULL,
	[THOIGIAN] [varchar](50) NOT NULL,
	[POINT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoichoi]    Script Date: 13/05/2021 22:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoichoi](
	[MAC] [varchar](50) NOT NULL,
	[TEN] [varchar](50) NULL,
	[HIGHSCORE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[nguoichoi] ([MAC], [TEN], [HIGHSCORE]) VALUES (N'20-6A-8A-71-18-91', N'Hung', 4)
GO
ALTER TABLE [dbo].[choivoimay] ADD  CONSTRAINT [DF_choivoimay_THOIGIAN]  DEFAULT ((0)) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[choivoimay]  WITH CHECK ADD  CONSTRAINT [FK_MAC] FOREIGN KEY([MAC])
REFERENCES [dbo].[nguoichoi] ([MAC])
GO
ALTER TABLE [dbo].[choivoimay] CHECK CONSTRAINT [FK_MAC]
GO
USE [master]
GO
